*{
    border: 0;
    margin: 0;
    padding:0;
}

html{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-height: 100%;
    width: 900px;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
}

h1{
    font-weight: bold;
    height: 20%;
}

h3{
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #050b1f;
}

h4{
    font-weight: bold;
    font-size: 0.9rem;
}

h5{
    margin-top: 0.4rem;
    font-size: 0.7rem;
    font-weight: bold;
}

header{
    height: 35vh;
    width: 100%;
    border-radius: 0.5rem;
}

#profile-img{
    padding: 3rem;
}

#profile-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%; 
}

#details{
    color:#050b1f;
    padding-top: 3rem;
}

.contact-details-item a{
    text-decoration: none;
    color:#050b1f;
}

.contact-details-email p{
    font-size: 1.5rem;
}

#left-container{
    background-color: #c7d8e7;
    border-radius: 0.5rem;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    font-size: 0.9rem;
    margin-bottom: 1rem;
}


p{
    text-align: left;
    font-size: 0.9rem;
    line-height: 1.8;
}

@media only screen and (max-width:1100px){
    header{
        height: 25vh;
        background-color:#c7d8e7;
    }
    #profile-img{
        display: none;
    }

    #details{
        width: 100%;
        padding-top: 2rem;
    }

    #left-container{
        background-color: white;
        border-radius: 0.5rem;
}

}
